@use './../../../../variables';

.productDetailHeader {
  display: flex;
  align-items: center;

  section {
    flex-grow: 1;
    justify-content: space-around;
  }

  .titleSection {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: variables.$titleColor;
    font-weight: bold;
  }

  .searchSection {
      display: flex;
      align-items: flex-end;
  }
}
