$backgroundColor: #f1f1f1;
$white: #ffffff;
$footerColor: #3e2722;
$checkoutButton: #d13039;
$iconBackground: #ececec;
$iconColor: #b1b0b5;
$highlightColor: #e95241;
$headerInput: #efedee;
$divider: #f5f5f5;
$titleColor: #999999;
$paddingMid: 10px;
